.presentation {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.profile-picture img {
    height: 350px;
    width: auto;
    transition: transform 0.3s ease;
}


.profile-picture img:hover {
    /* Escala la imagen ligeramente al pasar el cursor sobre ella */
    border-radius: 50% ;
    box-shadow: 0 0px 10px 5px #6200ffaa;
    transform: scale(1.015);
    /* filter: brightness(1.3); */
    ::before{
      filter: brightness(.5); 
      top: -100%;
      left: 200%;
    }
}

.introcuction {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.introcuction h1 {
    font-size: 3em;
    color: #FF7900;
}

.introcuction h2 {
    font-size: 2em;
    color: #efff14;
}

.button-style {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.button-style p {
    color: transparent;
}

button {
    position: relative;
    background: #444;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    padding: 1rem 3rem;
    transition: 0.2s;
}

button:hover {
    /* letter-spacing: 0.2rem;
    padding: 1.1rem 3.1rem;*/
    background: var(--clr);
    color: var(--clr);
    /* box-shadow: 0 0 35px var(--clr); */
    animation: box 3s infinite;
}

button::before {
    content: "";
    position: absolute;
    inset: 2px;
    background: #272822;
}

button span {
    position: relative;
    z-index: 1;
}

button i {
    position: absolute;
    inset: 0;
    display: block;
}

button i::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: 80%;
    top: -2px;
    border: 2px solid var(--clr);
    background: #272822;
    transition: 0.2s;
}

button:hover i::before {
    width: 15px;
    left: 20%;
    animation: move 3s infinite;
}

button i::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: 20%;
    bottom: -2px;
    border: 2px solid var(--clr);
    background: #272822;
    transition: 0.2s;
}

button:hover i::after {
    width: 15px;
    left: 80%;
    animation: move 3s infinite;
}

@keyframes move {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(5px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes box {
    0% {
        box-shadow: #27272c;
    }

    50% {
        box-shadow: 0 0 25px var(--clr);
    }

    100% {
        box-shadow: #27272c;
    }
}

/* Seccition about me */
#aboutMe { 
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    margin: auto;
}

.skills{
    display: flex;
    justify-content: space-between;
}

strong {
    color: #efff14;
}

.format{
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    margin: auto;
}

.proyect-box{
    display: grid;
    justify-content: center;
    max-width: 80%;
    align-items: start;
    margin: auto;
    
}

.proyect-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas */
    gap: 2%; /* Espacio entre elementos */
  }
  
  .proyect-item {
    height: auto;
    max-width: 100%; /* Ancho máximo de cada elemento */
    
  }