a {
    text-decoration: none;
    /* Elimina el subrayado */
    color: inherit;
    /* Hereda el color del texto del contenedor padre */
}
.empty-space{
    height: 300px;
}

.format2{
    display: flex;
    justify-content:center;
    align-items: center;
}
.presentation {
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.profile-picture img {
    height: 350px;
    width: auto;
    transition: transform 0.3s ease;
}


.profile-picture img:hover {
    /* Escala la imagen ligeramente al pasar el cursor sobre ella */
    border-radius: 50%;
    box-shadow: 0 0px 10px 5px #6200ffaa;
    transform: scale(1.015);

    /* filter: brightness(1.3); */
    ::before {
        filter: brightness(.5);
        top: -100%;
        left: 200%;
    }
}


.introcuction {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    .title1 {
        font-size: 60px;
        font-weight: 800;
        background-image: linear-gradient(to right, #553c9a, #413129);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
    }

    .title2 {
        font-size: 2em;
        background-image: linear-gradient(to left, #410ece, #292cec);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
    }

}

.button-style {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.button-style p {
    color: transparent;
}

button {
    position: relative;
    background: #444;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    padding: 1rem 3rem;
    transition: 0.2s;
}

button:hover {
    /* letter-spacing: 0.2rem;
    padding: 1.1rem 3.1rem;*/
    background: var(--clr);
    color: var(--clr);
    /* box-shadow: 0 0 35px var(--clr); */
    animation: box 3s infinite;
}

button::before {
    content: "";
    position: absolute;
    inset: 2px;
    background: #272822;
}

button span {
    position: relative;
    z-index: 1;
}

button i {
    position: absolute;
    inset: 0;
    display: block;
}

button i::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: 80%;
    top: -2px;
    border: 2px solid var(--clr);
    background: #272822;
    transition: 0.2s;
}

button:hover i::before {
    width: 15px;
    left: 20%;
    animation: move 3s infinite;
}

button i::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: 20%;
    bottom: -2px;
    border: 2px solid var(--clr);
    background: #272822;
    transition: 0.2s;
}

button:hover i::after {
    width: 15px;
    left: 80%;
    animation: move 3s infinite;
}

@keyframes move {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(5px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes box {
    0% {
        box-shadow: #27272c;
    }

    50% {
        box-shadow: 0 0 25px var(--clr);
    }

    100% {
        box-shadow: #27272c;
    }
}

/* Seccition about me */
#aboutMe {
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    margin: auto;
}

.skills {
    display: flex;
    justify-content: space-between;
}

strong {
    color: #02126d;
}

.format {
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    margin: auto;
}

.proyect-box {
    display: grid;
    justify-content: center;
    max-width: 80%;
    align-items: start;
    margin: auto;
    margin-top: 20px;
    h1{
        gap: 10px;
        align-items: center;
        display: flex;
    }
}

.proyect-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Dos columnas */
    gap: 2%;
    /* Espacio entre elementos */

}

.proyect-container2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Dos columnas */
    gap: 2%;
    /* Espacio entre elementos */
    color: white;

}

.icon-container {
    place-items: center;
    text-align: center;
    /* background-image: linear-gradient(0, #ffdaeb 0, #ffd3eb 10%, #ffcbeb 20%, #ffc3eb 30%, #ffbbec 40%, #ffb3ed 50%, #f3abee 60%, #e5a5f1 70%, #d7a0f3 80%, #c69df6 90%, #b49af9 100%); */
    background-image: linear-gradient(335deg, #493840 0, #45303d 12.5%, #3f2939 25%, #382037 37.5%, #301834 50%, #261032 62.5%, #1b0931 75%, #100030 87.5%, #00002f 100%);
    /* background-image: radial-gradient(circle at 35.22% 32.38%, #001326 0, #001229 5.56%, #00112b 11.11%, #000f2d 16.67%, #000d2e 22.22%, #000b2e 27.78%, #00082e 33.33%, #00052e 38.89%, #00032d 44.44%, #03002b 50%, #0e0029 55.56%, #150026 61.11%, #1b0023 66.67%, #1f0020 72.22%, #23001c 77.78%, #250019 83.33%, #270014 88.89%, #29000f 94.44%, #2b0007 100%); */
    border-radius: 1rem;
}

.icon-container:hover {
    /* Escala la imagen ligeramente al pasar el cursor sobre ella */
    box-shadow: 0 0px 10px 5px #6200ffaa;
    transform: scale(1.015);

    /* filter: brightness(1.3); */
    ::before {
        filter: brightness(.5);
        top: -100%;
        left: 200%;
    }
}

table {
    width: 100%;
    gap: 10px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

tr {
    display: inline-block;
    vertical-align: top;
    /* Alinea los elementos en la parte superior */
    width: 100px;
    display: grid;
    place-items: center;
}

.proyect-item {
    height: auto;
    max-width: 100%;
    /* Ancho máximo de cada elemento */

}

.technology {
    display: flex;
    flex-direction: row;
    max-width: 200px;
    width: 100%;
    padding: 1rem;
}